<app-navbasic></app-navbasic>
<div class="container">
  <!-- Tarjetas arriba -->
  <div class="row mb-3">
    <div class="col-sm-4">
      <div class="card">
        <img src="/assets/desarrollador.jpg" class="card-img-top" alt="Desarrollador de software">
        <div class="card-body">
          <h5 class="card-title">Desarrollador de software</h5>
          <p class="card-text">Responsable de escribir código para crear aplicaciones y sistemas de software.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="/assets/ingSoft.jpg" class="card-img-top" alt="Ingeniero de software">
        <div class="card-body">
          <h5 class="card-title">Ingeniero de software</h5>
          <p class="card-text">Diseña, desarrolla y mantiene software utilizando principios de ingeniería de software.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="qa.jpg" class="card-img-top" alt="Ingeniero de calidad de software">
        <div class="card-body">
          <h5 class="card-title">Ingeniero de calidad de software (QA)</h5>
          <p class="card-text">Se encarga de garantizar la calidad del software mediante pruebas y aseguramiento de la calidad.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Tarjetas abajo -->
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="arquitecto.jpg" class="card-img-top" alt="Arquitecto de software">
        <div class="card-body">
          <h5 class="card-title">Arquitecto de software</h5>
          <p class="card-text">Diseña la estructura general de un sistema de software, estableciendo las pautas y estándares técnicos.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="gerente.jpg" class="card-img-top" alt="Gerente de proyectos de software">
        <div class="card-body">
          <h5 class="card-title">Gerente de proyectos de software</h5>
          <p class="card-text">Supervisa la planificación, ejecución y entrega de proyectos de desarrollo de software.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="analista.jpg" class="card-img-top" alt="Analista de sistemas">
        <div class="card-body">
          <h5 class="card-title">Analista de sistemas</h5>
          <p class="card-text">Analiza los requisitos de los usuarios y los convierte en especificaciones detalladas para el desarrollo de software.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
